.bg-con{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #E86392 ,#67BCB6);
    background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1715904000&semt=ais_user");
    background-repeat: no-repeat;
    background-size: cover;
}


.img-logo{
    height: 80px;
}
.form-con{
    width: 500px;
    background-color:  #ffffffd4;
    box-shadow: 8px 8px 20px 0px #888686;
    border-radius: 50px;
    padding: 5%;
    @media (max-width:500px) {
        width: 95%;
    }
   
}


label{
    color: #142f42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.input-con{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #131e3d;
}

.sign-in{
    font-size: 24px !important;
    border-radius: 50px !important;
    background-color: #E86392 !important; 
    border: none !important;
    margin-top: 10% !important;
    width: 150px !important;
}

.error-message{
    color: red;

}

input{
    outline: none;
}